.logo {
    width: 100px;
    height: 100px;
}

ul{
    display: flex;
    list-style-type:none;
    padding:0;
    margin: 0;
}

.nav-link{
    margin-right: 20px;
    cursor: pointer;
}

.nav-link:last-child{
    margin-right: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #333333de;
    color: #fff;
}

.navbar.left{
    display: flex;
    align-items: center;
}

a{
    text-decoration: null;
    color:inherit;
}


.profile-div{
    border: 2px solid orange;

}

.container{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}